*{
	margin: 0;
	padding: 0;
	box-sizing: border
}

#box {
	background-color: orange;
	border:1px solid black; /*Sets the border-width, stlye and color in one line of code*/
	padding: 50px; /*will add spaces on all of the sides of our div*/
	height: 150px;
	width: 150px;
}
