/*External CSS*/

*{
	font-family: 'Open Sans', sans-serif;
	/*Reset CSS*/
	/*the zero value deletes the margin & padding of elements*/
	/*by resetting the margin and padding, it allows us to freely manipulate the size and positions of elements*/
	margin: 0; 
	padding: 0;
	/*Box- sizing property = defines the width & height of our element are calculated
	border-box = allow us to control the measurement of our elements better.
	It includes the padding, border styling of our element to teh total height & width in its computation
	*/
	box-sizing: border-box; 
}

nav {
	border-bottom: 1px solid gray;
	padding: 0.8rem; /*rem = root element, pixels based on the root element*/
	margin-bottom:2rem; /*creates space bet nav and section intro*/
}

nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	margin: 0.05rem; /*short-hand for all sides of margin*/
}

#intro {
	text-align: center;
	padding: 10%; /*10% generates 10% of parents padding value*/
}

section > .header {
	text-align: center;
	margin-bottom: 50px;
}

section p {
	margin-bottom: 55px;
}

#intro button {
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 1rem;
	/*margin-top: 20px;*/
}

#succeed-info > div {
	display: flex;
	justify-content: flex-start;
	padding-left: 10%;
	padding-right: 10%;
	
}

#succeed-info > div > .card {
	margin: 10px;

}

#succeed-info > div > .card > h3 {
	text-align: center;

}

#footer {
	background-color: #002540;
	color: white;
	display: flex;
	align-items: flex-end;
}

#footer > div {
	margin: 10px;
	width: 250px;
}
#footer > div > p {
	margin-bottom: 5px;
	
}
 