CSS Reset*/

* {
	margin: 0;
	padding: 0;
}

h1, p {
	background-color: #dde0e3; /*light gray*/
	margin: 15px; 
	/*margin: 20px 15px; top-bottom , left-right*/
	/*margin: 20px 5px 30px 10px; /*top-right-bot-left*/
	padding: 10px; /*all paddings side are recognize in block level elements*/
	border: 1px solid red;

}

em, strong {
	background-color: indianred;
	display: inline-block;
	padding: 100px; 
	/*Padding top-bot = does not rcognize on the inline elements, however left-right padding were recognize*/
	border: 1px solid black;
	margin: 50px; /*Margin top-bot does not take effect in inline*/
}


/*inline-block = combined behaviour of inline and block elements*/
/*display : inline , block, inline-block , flex*/


/*Flex box = gives us more control over the alignment, direction, and order and position of our element (boxes)*/

.flex-container {
	border: 1px solid black;
	padding: 20px;
	background-color: darkgray;
	display: flex;
	/*justify-content: center;*/
	/*justify-content: space-between; */
	justify-content: space-around; /*Divides margin equally around the flex items*/
}
 .flex-item {
 	height: auto;
 	width: 250px;
 	background-color: coral;
 	border: 1px solid maroon;
	/*display: inline-block;*/
	/*margin: 10px;*/
	/*text-align: center;
 }
*/
}
.flex-item > h2 {
	text-align: center;
}

.flex-item > img {
	width: inherit; /*inherits the properties of its parent element*/

}